---
import Layout from '@/layouts/Layout.astro'; 

import Hero from '@/components/Hero.astro';
import Services from '@/components/Services.astro';
import Work from '@/components/Projects.astro';
import Testimonials from '@/components/Testimonials.astro';
import Contact from '@/components/Contact.astro';
import Footer from '@/components/Footer.astro';

import { sanityClient } from 'sanity:client';

const sanityProjects = await sanityClient.fetch(`*[_type == "project"] | order(_createdAt desc) {
  title,
  category,
  description,
  "imageUrl": image.asset->url,
  slug,
  link,
  github
}`);
---

<Layout title="Pixelflow Studio">
  <main>
    <Hero lang="ro" />
    <Services lang="ro" />
    
    <Work lang="ro" projects={sanityProjects} /> 
    
    <Testimonials lang="ro" />
    <Contact lang="ro" />
  </main>

  <Footer lang="ro" />
</Layout>