---
import Navbar from '@/components/Navbar.astro';
import '../styles/global.css';
import CookieBanner from '@/components/CookieBanner.astro';
const { lang = 'ro' } = Astro.props;
const { title = 'Pixelflow' } = Astro.props as { title?: string };
---
<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logo.svg" />
		<title>{title}</title>
	</head>
	<body class="bg-black">
<Navbar />
<CookieBanner lang={lang} />
	<slot />
  </body>
</html>
