---
import Navbar from '@/components/Navbar.astro';
import '../styles/global.css';
import Projects from '@/components/Projects.astro';
---
<!doctype html>
<html lang="ro">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Pixelflow Studio</title>
	</head>
	<body class="bg-black">
<Navbar client:load />
	<slot />
  </body>
</html>